body {
    background-color: #ECF2FF;
}
hr {
    border-style: dotted none none none;
    width: 2.8%;
    border-color: grey;
    border-width: 5px;
}
h1 {
    color:brown;
}
h3 {
    color: brown;
}
        
    